header {
  background: radial-gradient(#9880B2, #63BAAA);
  /* background-image: linear-gradient( 65.9deg,   #419BBC 5.5%,  #316579 54.2%, #419BBC 55.2%, #B3CAD6 98.4% );  */
  color: white;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
  padding: 4%;
}
a {
  text-decoration: none;
}
#logo{
  font-family: 'Syne', sans-serif;
  padding-left: 2%;
  font-size: 18px;
}
header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding: 2%;
  }
.scrolled{
  background: linear-gradient(#6FA6A6, #8bbdbd);
}
header nav div{
  margin: 0;
}
header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Quicksand', sans-serif;
}
header nav ul li{
  margin: 0 35%;
}
header nav ul li a{
  font-size: 16px;
  font-weight: 600;
}
header nav ul li a:hover{
  cursor: pointer;
  text-shadow: #9880B2 4px 3px 10px;
}
main{
  margin-bottom: 6%;
}
.header__title {
  font-family: 'Syne', sans-serif;
  font-size: 120px;
  text-shadow: rgba(46, 46, 46, 0.568) 3px 3px 7px;
}
.header__sub-title {
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 26px;
}
main div{
  margin-top: 3rem;
  margin-left: .7rem;
}
.header__button{
  align-self: center;
  padding: .55em;
  border-radius: .5rem;
  justify-content: center;
  cursor: pointer;
  background: #6b2bd6;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: .2s ease-in;
}
.header__button:hover{
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.384);
}
#about{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;;
  max-height: 100vh;
  padding-top: 6%;
  padding-right: 4%;
  padding-left: 4%;
  font-family: 'Quicksand', sans-serif;
}
#about h3{
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #5121a3;
}
#about div{
  padding: 2rem 20%;
}
#about p{
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
#about a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: .55em;
  border-radius: .5rem;
  justify-content: center;
  cursor: pointer;
  background: #6b2bd6;
  color: white;
  font-size: 18px;
  transition: .2s ease-in;
}
#about a:hover{
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.384);
}
#interface{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4%;
}
.real-time-interface {
  margin-top: 2%;
  padding: 16% 20%;
  align-self: center;
  background-color: white;
  box-shadow: 10px 5px 25px #68928aaf;
  border-radius: 1rem;
  border: #e2daf03b solid;
  font-family: 'Quicksand', sans-serif;
}

.real-time-interface__button {
  display: flex;
  padding: .55em;
  border-radius: .5rem;
  justify-content: center;
  cursor: pointer;
  background: #6b2bd6;
  color: white;
  font-size: 18px;
  transition: .2s ease-in;
}
.real-time-interface__button:hover{
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.384);
}

.real-time-interface__title {
  margin-bottom: .5em;
  font-size: 18px;
  font-weight: 600;
}

.real-time-interface__message {
  text-align: left;
  width: 95%;
  margin-top: .5em;
  font-size: 19px;
  font-weight: 400;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
  padding: 1em;
  transition: .5s ease-in;
}
footer{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 10;
  margin: 1rem 0 ;
}